.qx-aum-combo-box {
   font-style: italic !important;
   color: white ! important;
   background-color: green !important;
}

.qx-identifier-cmb1 option {
   background-color: lightyellow;
   color: green;
}