/*This is a set of templates that can be useful for modifying the appearance of your application.*/

/*CHANGES THE WIDTH OF THE MENU CONTAINER = is already set in .qxtheme once you have downloaded this example.*/
/*#qx-container-menu {
   width: 500px !important;
}*/

/*changes the appearance of your combo box.

/*Please, remember these ideas:
-- you have to add !important to some parameters (like background-color) in order that your css will override browser settings;
-- some selectors may work in one browser and might not work in another one (e.g., option:hover doesn't work in Google Chrome.*/


/*CHANGES THE APPEARANCE OF THE COMBO BOX*/
/*.qx-aum-combo-box {
   text-transform: uppercase !important;
   color: white ! important;
   background-color: green !important;
}*/

/*CHANGES THE APPEARANCE OF ALL THE COMBO BOX ITEMS*/
/*.qx-identifier-cmb1 option {
   text-transform: uppercase;
   background-color: red;
   font-family: fantasy;
   font-size: 25px;
   color: aquamarine;
}*/

/*CHANGES THE APPEARANCE OF THE N-th COMBO BOX ITEM*/
/*.qx-identifier-cmb1 option:nth-child(2) {
   text-transform: uppercase;
   background-color: black;
   font-family: cursive;
   font-size: 125px;
   color: white;
}*/


/*CHANGES THE APPEARANCE OF THE COMBO BOX ON HOVER*/
/*.qx-identifier-cmb1:hover {
   background-color: darkblue !important;
   font-style: italic !important;
   color: white !important;
}/*


/*CHANGES THE APPEARANCE OF THE COMBO BOX ITEM ON HOVER*/
/*.qx-identifier-cmb1 option:hover {
   background-color: darkblue;
   font-style: italic;
   color: white;
}*/