/*THIS FILE CONTAINS SOME EXAMPLES OF HOW TO USE CSS TO CUSTOMIZE APPEARANCE OF YOUR MESSAGE BOXES.*/
/*ALL OF THEM ARE COMMENTED.*/
/*SO, YOU NEED TO UNCOMMENT THE NECESSARY LINES TO GET THE EFFECT.*/

/*Changes the style of the whole message box.*/
/*Applies both to JQ Lycia and MD Lycia.*/
/*.qx-mb-dialog {
  background-color: #d9e6ec;
  color: #006699;
}*/

/*Changes the style of the message box's title.*/
/*Applies only to JQ Lycia.*/
/*.qx-mb-dialog .ui-dialog-title {
    font-size: 16pt;
    font-family: Brush Script MT, cursive;
}*/

/*Changes the style of the message box's text.*/
/*Applies only to JQ Lycia.*/
/*.qx-mb-dialog pre {
    font-size: 11pt;
    font-family: Cambria;
    font-style: italic;
}*/

/*Changes the style of the message box's text.*/
/*Applies only to MD Lycia.*/
/*.qx-mb-dialog .qx-message-box-text {
  font-size: 11pt;
  font-style: italic;
}*/

/*Changes the style of the message box's buttons.*/
/*Applies only to JQ Lycia.*/
/*.qx-mb-dialog .qx-winmessage-button {
    font-size: 14pt;
    font-family: Brush Script MT, cursive;
}*/

/*Changes the style of the message box's buttons.*/
/*Applies only to MD Lycia.*/
/*.qx-mb-dialog .qx-button-wrapper .qx-winmessage-button {
  font-size: 14pt;
  font-family: Brush Script MT, cursive;
  color: #006699;
}*/